<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">
    <display-name>mgmt</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <!--View-->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.cg.usermgmt.view.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MainFrameServlet</servlet-name>
        <servlet-class>com.cg.usermgmt.view.MainFrameServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainFrameServlet</servlet-name>
        <url-pattern>/MainFrameServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginErrServlet</servlet-name>
        <servlet-class>com.cg.usermgmt.view.LoginErrServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginErrServlet</servlet-name>
        <url-pattern>/LoginErrServlet</url-pattern>
    </servlet-mapping>


    <!--controller-->
    <servlet>
        <servlet-name>LoginClServlet</servlet-name>
        <servlet-class>com.cg.usermgmt.controller.LoginClServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginClServlet</servlet-name>
        <url-pattern>/LoginClServlet</url-pattern>
    </servlet-mapping>

    <!--servlet-->
    <servlet>
        <servlet-name>CreateCheckCodeServlet</servlet-name>
        <servlet-class>com.cg.usermgmt.servlet.CreateCheckCodeServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateCheckCodeServlet</servlet-name>
        <url-pattern>/CreateCheckCodeServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TestWebServlet</servlet-name>
        <servlet-class>com.cg.usermgmt.servlet.TestWebServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestWebServlet</servlet-name>
        <url-pattern>/test/*</url-pattern>
    </servlet-mapping>

</web-app>