<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MyProject</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>DownLoadServlet</servlet-name>
    <servlet-class>com.cg.mchtdata.servlet.DownLoadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownLoadServlet</servlet-name>
    <url-pattern>/DownLoadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListFileServlet</servlet-name>
    <servlet-class>com.cg.mchtdata.servlet.ListFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListFileServlet</servlet-name>
    <url-pattern>/ListFileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExcuteShellServlet</servlet-name>
    <servlet-class>com.cg.mchtdata.servlet.ExcuteShellServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcuteShellServlet</servlet-name>
    <url-pattern>/ExcuteShellServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExcuteHiveCmdServlet</servlet-name>
    <servlet-class>com.cg.mchtdata.servlet.ExcuteHiveCmdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcuteHiveCmdServlet</servlet-name>
    <url-pattern>/ExcuteHiveCmdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JundgeServlet</servlet-name>
    <servlet-class>com.cg.mchtdata.servlet.JundgeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JundgeServlet</servlet-name>
    <url-pattern>/JundgeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.cg.mchtdata.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateCheckCode</servlet-name>
    <servlet-class>com.cg.mchtdata.mycheckcode.CreateCheckCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateCheckCode</servlet-name>
    <url-pattern>/CreateCheckCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BuyBook</servlet-name>
    <servlet-class>com.cg.mchtdata.servlet.BuyBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyBook</servlet-name>
    <url-pattern>/BuyBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BookMall</servlet-name>
    <servlet-class>com.cg.mchtdata.servlet.BookMall</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookMall</servlet-name>
    <url-pattern>/BookMall</url-pattern>
  </servlet-mapping>
</web-app>